/* Section Top+AboutMe --- Inga Goncharuk */
.top_wrap {
    background-width: 100%;
    background: url(images/Section_top/large--7445550970.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 553px;
}

.wrap {
margin: 0 auto;
}

.top_wrap {
    width:100%;
    position:relative;
}

.logo_top img {
    position:absolute;
    margin: 0 auto;
    right:0;
    left:0;
    top:100px;
}

@media screen and (max-width: 380px) {
    .logo_top img {
        width:95%;
    }
}

.arrow_circle img {
    bottom: 40px;
    width: 32px;
    position:absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.arrow {
    width: 52px;
    height: 47px;
    background: #36b7b3;
    position:absolute;
    margin-top:70px;
    right:0;   
}

.arrow img {
    top: 8px;
    left: 13px;
    position: relative;
}

.menu_wrap {
    width: 100%;
    background: #36b7b3;
    position: relative;
    margin-bottom: 80px;
}

.menu {
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    height: 70px;
}

.menu_wrap a {
    color: #FFFFFF;
    font-size: 14px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    
}

.menu_item {
    display:inline-block;
    text-align: center;
    padding: 14px;
    margin: 14px;
}

.menu_small_display {
    position:absolute;
    right:0;
    left:0;
    text-align: center;
    padding: 14px;
    margin: 14px;    
}

.menu_item:hover {
    background: #d55727;
    transition: 0.5s;
}

//@media screen and (max-width: 768px) {
//    .menu_item {
//    width: 20%;
//    display: inline-block;
//    }
//    .menu {height:140px;}
//}

//@media screen and (max-width: 480px) {
//.menu {height:210px;}
//}

@media screen and (max-width: 768px) {
    .menu_item {padding:14px 1%; margin:14px 1%; }
    .menu_wrap a {font-size:12px;}

}

.about_me_wrap {
    margin-top: 72px; 
    width:100%; 
    padding-bottom: 15%;    
}

.content_about_me {
    width: 950px;
    margin: 0 auto;
}

.text_about_me {
    margin-top: 50px;
    color: black;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.photo_about_me_out { 
    width:70%;
    margin:0 auto;
}

.photo_about_me_in img{ 
    width:120%;
    margin-top: 50px;
}

@media screen and (min-width: 970px) {
.photo_about_me_out { 
    width:50%;
    height:0;
    position:relative;
    float:right
}

    .about_me_wrap {
    padding-bottom: 250px;    
}

.photo_about_me_in img{ 
    width:120%;
    top:28px;
    right:-50px;
    position:absolute;
}
.text_about_me {
    float:left;
    width: 30%;
    margin-top: 120px;
    margin-left: 100px;
}

}

@media screen and (max-width: 1200px) {
    .content_about_me {
    width: 80%;
    margin: 0 auto;}
}
/* Section Top+AboutMe --- Inga Goncharuk */

/*Ira*/

.services
{
    font-family: 'Raleway', sans-serif;

    padding: 74px 0 0;

    background: #f8f8f8;
}

.service-list
{
    font-size: 0;

    padding: 6.7% 10% 9%;
}

.service
{
    display: inline-block;

    width: 33.33%;

    text-align: center;
}

.service-icon
{
    width: 25%;
    height: 0;
    margin: 0 auto 15%;
    padding-top: 25%;

    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #d55727;
    background-image: url(images/service-icons.png);
    background-repeat: no-repeat;
    -webkit-background-size: 300%;
         -o-background-size: 300%;
            background-size: 300%;
}

.wd
{
    background-position: 0 0;
}

.gd
{
    background-position: 50% 0;
}

.ill
{
    background-position: 100% 0;
}

.service-title
{
    font-size: 18px;

    text-transform: uppercase;
}

.skills
{
    font-size: 0;

    position: relative;

    padding: 2.5% 7.7% 3%;

    background-image: url(images/background-copy-2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.img--vert {
    display: none;
}

.skills img
{
    position: relative;
    z-index: 80;

    width: 100%;
}

.skills:after
{
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background-color: rgba(0, 0, 0, .5);
}

@media screen and (min-width: 960px)
{
    .service-icon
{
    width: 64px;
    height: 0;
    margin: 0 auto 34px;
    padding-top: 64px;
}
}

@media screen and (max-width: 768px)
{
    .service-list
    {
        padding-top: 8%;
    }
}

@media screen and (max-width: 600px)
{
    .service-list
    {
        padding-top: 10%;
    }
    .service-title
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px)
{
    .img--hor
    {
        display: none;
    }

    .img--vert
    {
        display: inline;
    }

    .service
    {
        position: relative;

        width: 100%;
    }

    .service-icon
    {
        position: absolute;
        top: 50%;
        left: 6%;

        width: 36px;
        height: 36px;
        margin-top: -18px;
        padding-top: 0;
    }

    .service-title
    {
        font-size: 5vw;
        line-height: 64px;
    }

    .service {
        text-align: left;
        padding-left: 30%;
    }
}

@media screen and (max-width: 320px)
{
    .service-list
    {
        padding: 10% 0 10%;
    }
    .service-title
    {
        font-size: 6vw;
    }

    .service
    {
        width: 60%;
    }
}


/*Ira End*/

/*Nastya Start*/

.section-portfolio img,
.section-clients img {
    width: 100%;
    text-align: center;
    height: auto;
}


.section-portfolio {
    overflow: hidden;
}


.section-portfolio .section-title {
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-clients .section-title {
    margin-top: 70px;
    margin-bottom: 70px;
}

.portfolio figure { margin: -4px -2px; }

.portfolio-responsive {
    overflow: hidden;
}

.portfolio-responsive .portfolio-responsive-item {
    float: left;
    overflow: hidden; /*hidden image*/
}
.portfolio-responsive.__col-3 .portfolio-responsive-item {
    width: 33.333%;
}

.portfolio-responsive .portfolio-responsive-item img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    
    .portfolio-responsive.__col-3 .portfolio-responsive-item {
        width: 50%;
    }

}


@media screen and (max-width: 768px) {
    
    .portfolio-responsive.__col-3 .portfolio-responsive-item {
        width: 100%;
    }

}

.clients {
    text-align: center;
    width: 70%;
    margin: 5px auto;
    font-size: 0;
    padding-bottom: 70px;
    position: relative;        
}

.logos {
    display: inline-block;
    width: 25%;
    margin: 0 4% 5%;
}

.logos img {
    display: inline-block;
    max-width: 200px;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {

    .logos {
        width: 35%;
        margin: 0 7% 15%;
    }

}


/*Nastya End*/

/*Lera Start*/
.form .section-title {
    color: white;
}

.form {
    padding-bottom: 30px;
    background: url(images/bottom/background-copy.png);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.form_wrap {
    margin-top: 70px;
}

.contact_form {
    float: left;
    width: 44%;
    margin: 0 3%;
}

.text_and_contacts {
    float: left;
    width: 44%;
    margin: 0 3%;
}

.contact_form input,
.contact_form textarea {
    width: 100%;
    height: 52px;
    margin-bottom: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #d55727;
    border-radius: 0;
    color: #fff;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    padding-left: 5%;
    box-sizing: border-box;
}

.contact_form .message_field {
    height: 200px;
    padding-top: 15px;
    resize: none;
}

.contact_form ::-webkit-input-placeholder {color: #f8f8f8;}
.contact_form ::-moz-placeholder {color: #f8f8f8;}
.contact_form :-moz-placeholder {color: #f8f8f8;}
.contact_form :-ms-input-placeholder {color: #f8f8f8;}

.contact_form .form_button {
    width: 156px;
    height: 42px;
    background-color: rgba(213, 87, 39, 0.8);
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    color: #f8f8f8;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
}

.contact_text {
    color: white;
    color: #f8f8f8;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.our_contacts li {
    margin-top: 30px;
}

.our_contacts li div {
    width:35px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    text-align: center;
}

.our_contacts li img {
    width: 85.71%;
}

.our_contacts li:nth-child(2) img {
    width: 57.14%;
}

.our_contacts li span {
    color: rgb(248, 248, 248);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    /*vertical-align: center;*/
    display: inline-block;
}

.footer {
    background-color: rgb(213, 87, 39);
    /*padding: 16px 0;*/
}

.footer_icons_container {
    margin: 0 auto;
    text-align: center;
}

.footer_icons_container a {
    display: inline-block;
    margin: 16px 30px;
}

.footer_icons_container a img {
    vertical-align: middle;
}

.container {
max-width: 950px;
margin: 0 auto;
padding-top: 72px;
}

@media screen and (max-width: 950px) {

.contact_form {
    float: left;
    min-width: 250px;
    margin: 0 6% 0 3%;
}

.text_and_contacts {
    float: none;
    width: auto;
    margin: 0 3%;
}

.our_contacts {
    float: left;
}

}

@media screen and (max-width: 768px) {

.our_contacts li div {
    width: 30px;
    margin-right: 20px;
}

.our_contacts li {
    margin-top: 20px;
}

}

@media screen and (max-width: 600px) {

.contact_form {
    float: none;
    width: 94%;
    margin: 0 3%;
}

.contact_form .form_button {
    display: block;
    margin: 0 auto;
}

.footer_icons_container a img {
    width: 70%;
}

.footer_icons_container a {
    display: inline-block;
    margin: 16px 15px;
}

.contact_text {
    margin-top: 30px;
}

}

@media screen and (max-width: 320px) {
    .section-title {
        font-size: 30px;
    }

    .section-title:after {
        bottom: -20px;
    }
}

/*Lera End*/
